

	
</head>

<body>

	<!-- Start Header Area -->
	
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="userStyle/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a href="/signup"><button type="submit" class="primary-btn">Create an Account</button></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<span style="color:crimson">{{error}}</span>
						<form class="row login_form" action="/loginSubmit" method="post" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'" onkeyup="requireEmail()" required>
								<span id="email-error" style="float: right; color:crimson"></span>
							</div>
							
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									
								</div>
							</div>
							
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<a href="/otp-login">OTP Login</a>
								<a href="/forgot-password">Forgot Password?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</form>
	</section>
	<!--================End Login Box Area =================-->


	<!-- start footer Area -->
	
	<!-- End footer Area -->


	<script>

		var emailError = document.getElementById('email-error')

		function requireEmail(){
			var email = document.getElementById('email').value

			if(email.length == 0){
				emailError.innerHTML = "email required"
				return false
			}
			if(!email.match(/^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/)){
				emailError.innerHTML = "invalid email"
				return false
			}
			else{
				emailError.innerHTML = ""
				return true
			}
		}


	</script>


	
</body>

</html>