

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="adminStyle/img/logo.png" alt="">
                  {{!-- <span class="d-none d-lg-block">NiceAdmin</span> --}}
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Enter The OTP And New Password</h5>
                  </div>

                  

                  <form class="row g-3 needs-validation" action="/admin/newPassword-submit" method="post">

                    


                    <div class="col-12">
                      <label for="yourPassword" class="form-label">New Password</label>
                      <input type="password" name="pass" class="form-control" id="password" required>
                      <div class="invalid-feedback">Please enter your password!</div>                   
                    </div>



                    <div class="col-12">
                      <label for="yourUsername" class="form-label">OTP</label>
                      <div class="input-group has-validation">
                        <input type="textbox" name="number" class="form-control" id="mobileNumber" required onkeyup="validateNumber()">
                        <div class="invalid-feedback">Please enter your Mobile Number</div>
                      </div>  
                      <span class="text-danger" id="textError"></span>
                    </div>


                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" id="newPasswordSubmit">Submit</button>
                    </div>
                    


                    
                    <span style="color: red;">{{error}}</span>
                    
                  </form>

                </div>
              </div>

              

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>



  <script>
    function validateNumber(){
      let num = document.getElementById('mobileNumber').value

      if(isNaN(num)){
        document.getElementById('textError').innerHTML = 'Enter Number'
        document.getElementById('#newPasswordSubmit').disabled = true
      }
      else{
        document.querySelector('#newPasswordSubmit').disabled = false
      }
    }
  </script>

 

</body>

</html>