<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/adminStyle/img/favicon.png" rel="icon">
  <link href="/adminStyle/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/adminStyle/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/adminStyle/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/adminStyle/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/adminStyle/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/adminStyle/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/adminStyle/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/adminStyle/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/adminStyle/css/style.css" rel="stylesheet">
</head>
<body>
    {{{body}}}
</body>
</html>